body {
	font-family:  Tahoma;
	font-size: 13px;
	width: 1000px;
	margin: 0px auto;
}
#menu_top{
	background: #141414;
	height: 40px;
}
#banner {
	height: auto;
	width: 1000px;
}
#main #left {
	width: 700px;
	float: left;
}
#main #right {
	width: 300px;
	min-height: 400px;
	float: left;
}
#footer{
	background: #1C1C1C;
	width: 1000px;
	text-align: center;
	height: 120px;
	color: #FFF;
	clear: left;
	line-height: 60px;
}
#menu_top ul{
	margin: 0px;
	padding: 0px;
}
#menu_top ul li{
	list-style: none;
	float: left;
}

#menu_top ul li a {
	text-decoration: none;
	display: block;
	height: 40px;
	line-height: 40px;
	color: #FFF;
	padding: 0px 20px 0px 20px;
	border-right: 1px solid #f1f1f1;
}
#menu_top ul li a:hover{
	color: #00ff00;
}
#menu_top ul li a.active{
	background: #00692f;
}

#banner img{
   width: 1000px;
}
#main #left ul{
	padding: 0px;
	margin: 0px;
}
#main #left ul li{
	list-style: none;
	clear: left;
	border-bottom:  2px solid  #ccc;
	float: left;
	margin-bottom: 20px;	
}
#main #left ul li img{
	float: left;
	height: 150px;
	width: 300px;
	margin-right: 10px;
	margin-bottom: 20px;
}
#main #left ul li a h2{
	font-size: 16px;
	margin-top: 0px;
	color: ##000000;
}
#main #left ul li a{
	display: block;
	text-decoration: none;
}
#main{
	margin-top: 20px;
}
#main #right img{
	float: left;
	width: 300px;
	height: 350px;
}
#main #right .menu_right ul{
	margin: 0px;
	padding: 0px;
}
#main #right .menu_right ul li{
	list-style: none;
}
#main #right .menu_right ul li a{
	text-decoration: none;
	display: block;
	line-height: 32px;
	height: 32px;
	border-bottom: 2px solid #ccc;
	background:url(https://d3.violet.vn/uploads/previews/document/0/300/196/0.13.gif) no-repeat 2px;
	text-indent: 25px;
	color: #878787;
}
#main #right .menu_right ul li a:hover{
   color: red;
}
#main #right .menu_right h3{
	background: #194d58;
	height: 40px;
	margin-top: 0px;
	text-align: center;
	font-size: 14px;
	line-height: 40px;
	color: #FFFF;
}
#main #right .menu_right h3:hover{
	color: #00692f;
}
#main #right .menu_right ul pre{
	color: red;
	font-size: 14px;
	text-align: center;
}
#main #right .menu_right ul pre:hover{
	color: #FFF;
}
#footer a{
	display: block;
	text-decoration: none;
	color: #FFFF;
}


